//---------------------
//-- CONTAINER NAV
//---------------------
.navbar-inverse, .navbar-default{
  background-color: transparent;
}

.navbar-default{
  &.in{ height: 100%; }

  .container{
    height: 100%;
    padding: 0;

    .navbar-header{
      background-color: $gray-base;
      margin: 0;
      position: relative;
      z-index: 1000000;

      &.affix {
        height: 100%;
      }
    }
  }
}




//----------------------
// -- MENU BURGER
//----------------------
.navbar-default .container .navbar-header .navbar-toggle{
  &.is-active{
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);

    .icon-bar{
      transition: all 0.3s ease-in-out;

      &:nth-child(3){
        width: 0px;
      }

      &:nth-child(2),
      &:nth-child(4){
        transition-delay: 0.3s;
      }

      &:nth-child(2){ transform: translateY(7px); }
      &:nth-child(4){ transform: translateY(-5px) rotate(90deg); }
    }
  }
}




//----------------------
// -- LOGO
//----------------------
.navbar-default .container .navbar-header .navbar-brand{
  padding: 3px 0;
  margin-left: 1.07142rem;

  img{ max-width: 150px; }
}




//-------------------
// -- NAVIGATION
//-------------------
.navbar-inverse{
  height: calc(100% - 51px);

  .navbar-collapse{
    height: 100%;
    max-height: none;
    padding: 0;
    position: relative;

    &.in{ background: $gray-base; }

    .navbar-nav{
      background: $gray-base;
      margin: 0 auto;
      float: none !important;

      li{
        height: 55px;

        a{
          height: 100%;
          font-family: $font-family-title;
          font-size: 2.5rem;
          text-align: center;
          line-height: 75px;
          color: $white;
          padding: 0;

          &:hover{
            background: $white;
            color: $gray-base;
          }
        }

        &.active{
          a{
            background: transparent;
            color: $white;
            opacity: .25;

            &:hover{
              background: $white;
              color: $gray-base;
            }
          }
        }
      }
    }
  }
}



//------------------
//-- RESPONSIVE
//------------------



@media(min-width:$screen-sm) and (max-width:991px) {
  .navbar-default .container{
    width: 100%;
  }
}




@media(min-width:$screen-md) {
  .navbar-inverse, .navbar-default{ height: auto; }

  .navbar-default{
    margin: 0;
    padding-top: 1.5rem;
    border: none;
    transition: all .5s ease-in-out;

    &.affix {
      background: $gray-base;
      padding: 0;
      border-bottom: 1px solid $white;

      .container .navbar-header .navbar-brand img{
        max-width: 150px;
        transition: all .5s ease-in-out;
      }

      .navbar-inverse .navbar-collapse .navbar-nav{ transform: translateY(5px); }
    }

    .container{
      height: auto;

      .navbar-header{
        background-color: transparent;

        .navbar-brand{
          padding: 3px 0;
          margin-left: .75rem;
          height: auto;

          img{
            max-width: none;
            transition: all .5s ease-in-out;
          }
        }
      }
    }
  }

  .navbar-inverse{
    .navbar-collapse{
      height: auto;

      &.in{
        background: transparent;
      }

      .navbar-nav{
        background: transparent;
        transform: translateY(75%);
        float: right !important;

        li{
          height: auto;

          a{
            height: auto;
            font-size: 1.25rem;
            line-height: 1;
            padding: 0 .75rem;
            padding-bottom: .5rem;

            &:hover{
              background: transparent;
              color: $white;
              border-bottom: 4px solid $white;
            }
          }

          &.active{
            a{
              opacity: 1;
              border-bottom: 4px solid $white;

              &:hover{
                background: transparent;
                color: $white;
                border-bottom: 4px solid $white;
              }
            }
          }
        }
      }
    }
  }
}
