//------------------------
//-- CONTAINER PACKAGES
//------------------------
.design-section .design-content{
  padding: 0;

  .bloc .design-single{
    background: $white;
    margin: 0 auto;
    margin-bottom: 1.42857rem;
    padding: 2rem 1.25rem;
    width: calc(100% - (2 * 1.1rem));
    max-width: 400px;
    text-align: center;
    float: none;
  }
}




//------------------------
//-- CONTENTS PACKAGES
//------------------------
.design-section .design-content .bloc .design-single{
  h3{ margin-top: 1.5rem; }
  h4{ margin-bottom: 1.5rem; }

  .price{
    font-family: $font-family-title;
    font-size: 3.5rem;
    margin-top: 1.5rem;
    margin-bottom: .9rem;
    line-height: 1;
  }

  .btn{
    padding: .57143rem 2.85714rem;
  }
}




//------------------
//-- RESPONSIVE
//------------------
@media(min-width: $screen-sm) {
  .design-section .design-content .bloc .design-single{
    margin: 0 .75rem;
    padding: 2rem 1.25rem;
    width: calc(33.33333% - (2 * .75rem));
    float: left;

    h3{ margin-top: 1.75rem; }
    h4{ margin-bottom: 1.2rem; }

    .price{
      font-size: 3rem;
      margin-top: 1.2rem;
      margin-bottom: .9rem;
    }

    .btn{ padding: .4rem 2rem; }
  }
}



@media(min-width: $screen-md) {
  section.design-section .section-title{
    min-height: 663px;
  }
}
