//------------------------
//-- CONTAINER SECTIONS
//------------------------
section {
  // min-height: 100%;
  padding-bottom: 3rem;
  padding-top: 3rem;

  &:nth-child(2n){ background: $brand-section; }
  &:nth-child(2n+1){ background: $white; }

  .container{
    height: inherit;

    > .row{
      height: inherit;
    }
  }
}




//------------------------
//-- CONTENTS SECTIONS
//------------------------
section{
  h2{
    font-family: $font-family-title;
    font-size: 3.21428rem;
    color: #454443;
    text-transform: uppercase;
    line-height: .9;
  }

  h3{
    font-family: $font-family-title;
    font-size: 2.57143rem;
  }

  h4{
    font-family: $font-family-title;
    font-size: 1.78571rem;
    text-transform: uppercase;
  }

  p{
    font-family: $font-family-content;
    font-size: 1rem;
  }

  .section-title{
    padding-bottom: 2rem;
  }
}




//------------------------
//-- TITLES SECTIONS
//------------------------
.section{
  .section-title{
    text-align: center;
    // padding-top: 20px;
    // margin-bottom: 20px;
  }
}




//------------------------
//-- RESPONSIVES
//------------------------
@media(min-width:$screen-sm) {
  section{
    h2{ font-size: 3rem; }
    h3{ font-size: 2rem; }
    h4{ font-size: 1.25rem; }
    p{ font-size: .8125rem; }

    &.section .container{
      height: inherit;

      .row{ height: inherit; }
    }
  }
}




@media(min-width:$screen-md) {
  section{
    h2{ font-size: 3rem; }
    p{ font-size: .8rem; }

    &.section .section-title{
      height: inherit;
      display: flex;
      // min-height: 100vh;
      text-align: left;
      margin-bottom: 0;
      padding-bottom: 0;

      h2{
        margin: auto 0;
        margin-bottom: 0;

        span{ display: block; }
      }
    }
  }
}
