//----------------------
//-- CONTENT SERVICES
//----------------------
.services-section .services-content{
  padding: 0;

  .bloc .service-single{
    background: $white;
    margin: 0 auto;
    margin-bottom: 1.42857rem;
    padding: 2.25rem 1.25rem;
    width: calc(100% - (2 * 1.1rem));
    max-width: 400px;
    text-align: center;
    float: none;

    h4{
      margin-top: 1.5rem;
      margin-bottom: .6rem;
    }
  }
}




//-------------------
//-- RESPONSIVE
//-------------------
@media(min-width: $screen-sm) {
  .services-section{
    .services-content{
      display: flex;
      // min-height: 100vh;

      .bloc{
        margin: auto;

        .service-single{
          margin: 0 .75rem 1rem .75rem;
          padding: 2rem 1.25rem;
          width: calc(33.33333% - (2 * .75rem));
          float: left;

          &:nth-child(n+4){ margin-bottom: 0; }

          h4{
            margin-top: 1.75rem;
            margin-bottom: .75rem;
          }
        }
      }
    }
  }
}



@media(min-width: $screen-md) {
  section.services-section .section-title{
    min-height: 644px;
  }
}



@media(min-width: $screen-lg) {
  section.services-section .section-title{
    min-height: 658px;
  }
}
